    <div class="container">
        <div class="reglist">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Size</th>
                <th>Color</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let newitem of newitems; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ newitem.Codigo }}</td>
                <td>{{ newitem.Name }}</td>
                <td>{{ newitem.Cost }}</td>
                <td>{{ newitem.Size }}</td>
                <td>{{ newitem.Color }}</td>
                <td>
                  <button type="button" class="btn btn-info" (click)="onEdit(i)">Edit</button>
                </td>
                <td>
                  <button type="button" class="btn btn-danger" (click)="onDelete(i, newitem)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-right">
            <button type="submit" class="btn btn-primary" (click)="onNew()">New</button>
          </div>
        </div>
        <br>
        <div class="regentry" *ngIf="showNew">
          <form (ngSubmit)="onSave()">
            <div class="form-group row">
              <label for="codigo-input" class="col-2 col-form-label">Codigo</label>
              <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.Codigo" name="Codigo">
              </div>
            </div>
            <div class="form-group row">
              <label for="name-input" class="col-2 col-form-label">Name</label>
              <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.Name" name="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="cost-input" class="col-2 col-form-label">Cost</label>
              <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.Cost" name="Cost">
              </div>
            </div>
            <div class="form-group row">
              <label for="size-input" class="col-2 col-form-label">Size</label>
              <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.Size" name="Size">
              </div>
            </div>
            <div class="form-group row">
              <label for="color-input" class="col-2 col-form-label">Color</label>
              <div class="col-10">
                <input class="form-control" type="text" [(ngModel)]="regModel.Color" name="Color">
              </div>
            </div>
            <button type="submit" class="btn btn-success">{{submitType}}</button>
            <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancel</button>
          </form>
        </div>
      </div>
